.circle{
    width:50px;
    height:50px;
    border-radius:50%;
    font-size:23px;
    font-family: Arial;
    font-weight: 900;
    color:#000;
    line-height:50px;
    text-align:center;
    background:#ffce00;
}

.special{
    width:50px;
    height:50px;
    border-radius:50%;
    font-size:23px;
    font-family: Arial;
    font-weight: 900;
    color:#000;
    line-height:50px;
    text-align:center;
    background:#d11919;
}
.redword{
    color:darkred;
}
.invisible{
    width:50px;
    height:50px;
    border-radius:50%;
    background:#fdfcfc;
}